In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import scipy

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
plt.rcParams['figure.figsize'] = 14, 8
plt.rcParams['font.size'] = 18
plt.rcParams['savefig.format'] = 'pdf'
sns.set_style('darkgrid')
import matplotlib.font_manager as font_manager
font_dir = [r"C:\Users\legrey4ik\OneDrive\Рабочий стол\hse sans"]
for font in font_manager.findSystemFonts(font_dir):
    font_manager.fontManager.addfont(font)
plt.rcParams['font.family'] = 'hse sans'
pd.set_option('display.max_columns', 50)

In [12]:
df = pd.read_csv('../Data/dano_data_upsell.csv').drop(columns='Unnamed: 0')

In [25]:
df

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,car_price,realty_flg,realty_price,cc_flg,cl_approve_amt,cl_rate,clc_approve_amt,clc_rate,clr_approve_amt,clr_rate,cc_approve_amt,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg
0,39699,1428,2021-04-06,17.0,36.0,CL,73.0,34.0,F,1,146.0,0,NaN,1,NaN,NaN,59.0,0.164,293.0,0.169,47.0,1195,2021-04-06 15:41:00,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1
1,140628,11996,2021-05-11,67.0,24.0,CL,33.0,34.0,M,1,358.0,0,NaN,1,NaN,NaN,123.0,0.178,NaN,NaN,NaN,17424,2021-05-18 21:09:00,1-CLC,CLC,67.0,24.0,0.102,1
2,122414,34857,2021-06-05,500.0,60.0,CL,27.0,53.0,F,1,209.0,0,NaN,0,113.0,0.310,NaN,NaN,896.0,0.174,47.0,33799,2021-06-05 05:41:00,"1-CL, 2-CLР, 3-CC",CL,100.0,36.0,0.241,1
3,40378,94446,2021-09-08,100.0,36.0,CL,7.0,28.0,F,1,285.0,0,NaN,1,NaN,NaN,72.0,0.164,528.0,0.176,NaN,94123,2021-09-08 19:46:00,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0
4,161689,116692,2021-11-10,100.0,60.0,CL,10.0,41.0,M,1,191.0,0,NaN,1,NaN,NaN,34.0,0.172,313.0,0.171,8.0,116232,2021-11-10 11:10:00,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,202717,92220,2021-09-02,100.0,36.0,CL,50.0,46.0,M,0,NaN,0,NaN,1,NaN,NaN,NaN,NaN,863.0,0.169,47.0,91738,2021-09-02 20:56:00,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0
225950,169066,116340,2021-11-09,67.0,120.0,CL,10.0,35.0,M,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,302.0,0.169,2.0,115937,2021-11-09 14:32:00,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0
225951,80373,125224,2021-12-02,167.0,36.0,CL,13.0,44.0,M,1,171.0,0,NaN,1,159.0,0.199,NaN,NaN,738.0,0.171,27.0,124981,2021-12-03 10:28:00,"1-CL, 2-CLР, 3-CC",CL,159.0,36.0,0.171,1
225952,588,195337,2022-09-17,667.0,36.0,CL,27.0,45.0,F,1,174.0,1,NaN,1,250.0,0.278,NaN,NaN,455.0,0.207,NaN,194867,2022-09-17 16:33:00,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0
225953,217428,219053,2022-11-17,500.0,60.0,CL,117.0,26.0,M,1,576.0,1,NaN,1,100.0,0.299,NaN,NaN,451.0,0.270,25.0,220463,2022-11-21 11:10:00,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1

In [24]:
df['customer_id'].nunique()

199356

In [23]:
df['customer_id'].value_counts()[df['customer_id'].value_counts() > 1].sum()

50453

In [14]:
df['agreement_product_code'].value_counts(normalize=True)

agreement_product_code
Unsuccess    0.629035
CL           0.133979
To CLC       0.088938
CLC          0.059415
CC           0.042664
To CLR       0.038154
CLR          0.007816
Name: proportion, dtype: float64